<script type="text/javascript">
    window.mainPageTitle = 'Parts Page';

    ShopifyApp.ready(function(){
        ShopifyApp.Bar.setTitle(window.mainPageTitle);
        ShopifyApp.Bar.loadingOff();
    });
</script>

<header class="jumbotron">
  <div class="inner">
    <div class="container">
      <h1 style="letter-spacing:-3px; margin-bottom:20px;">Parts Iventory!</h1>
      <p class="lead">Here I will be able to control the inventory by parts instead of SKUs
    </div><!-- /container -->
  </div>
</header>
<body>hello world!
<p><%= @parts %></p>
<p><%= @product.title %></p>
</body>
